@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.teste {
    width: 100px;
    height: 250px;
    background-color: blueviolet;
    margin-left: 200px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-family: "Black Ops One", system-ui;
}

a.btn01 {
    background: olivedrab;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 1px solid greenyellow;
    border-radius: 5px;
}

a.btn01:hover {
    background: rgb(152, 182, 93);
    color: white;
    padding: 12px;
    text-decoration: none;
    border: 1px solid rgb(118, 133, 96);
    border-radius: 5px;
}

a.btn02 {
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
}

a.btn02:hover {
    text-decoration: underline;
    padding: 8px;
    background: blue;
    color: white;
}